<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script type="module" src="/javascripts/main.js"></script>
  </head>
  <body>
    <p class="collection" data-collection="city">city</p>
    <p class="collection" data-collection="continent">Continent</p>
    <p class="collection" data-collection="country">Country</p>
    <p class="collection" data-collection="countrylanguage">Countrylanguage</p>
    <p class="collection" data-collection="governmentform">Governmentform</p>

    <div id="content"></div>
  </body>
</html>
