<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script type="module" src="/javascripts/main.js"></script>
  </head>
  <body>
    <div id="message" class="msg">
      <p></p>
    </div>
    <div id="menu">
      <div id="worldGifWrap">
        <img id="worldGif" src="images/world.gif" alt="spinning world" />
      </div>
      <div class="collection">
        <img src="images/world.svg" />
        <p data-collection="city">city</p>
      </div>
      <div class="collection">
        <img src="images/world.svg" />
        <p data-collection="continent">Continent</p>
      </div>
      <div class="collection">
        <img src="images/world.svg" />
        <p data-collection="country">Country</p>
      </div>
      <div class="collection">
        <img src="images/world.svg" />
        <p data-collection="countrylanguage">Countrylanguage</p>
      </div>
      <div class="collection">
        <img src="images/world.svg" />
        <p data-collection="governmentform">Governmentform</p>
      </div>
    </div>
    <div id="content">
      <p id="startName">WorldDB CMS</p>
      <p id="startCap">"Change the world"</p>
    </div>
  </body>
</html>
